<a href="https://colab.research.google.com/github/ie-katerinai/Python_Analitik/blob/main/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задача 1

На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [1]:
def summ_fruts(kwargs) -> int:
    result = 0
    for key, value in kwargs.items():
        result += value
    print(result)

In [3]:
fruts = {
    'apple': 22,
    'pineapple': 8,
    'melon': 10,
    'grapes': 5,
    'lemon': 5,
    'pear': 7,
    'orange': 4,
    'banana': 9,
    'peach': 3,
    'kiwi': 16,
    'lime': 25,
    'fig': 46,
    'mango': 14,
    'apricot': 6,
    'avocado': 11
}
summ_fruts(fruts)

191

##Задача 2
 
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200].

Используйте list comprehensions

In [21]:
origin_prices=[100, 125, -90, 345, 655, -1, 0, 200]
prise = [i if i>0 else 0 for i in origin_prices]
prise

[100, 125, 0, 345, 655, 0, 0, 200]

Сумму можно посчитать через цикл.

In [22]:
sum = 0
for item in prise:
    sum+=item
sum

1425

Можно через функцию.

In [18]:
def calc_sum(prise:list)-> int:
  sum = 0
  for item in prise:
    sum+=item
  return sum

In [19]:
print(calc_sum(prise))

1425

##Задача 3

Даны два списка.

Дата покупки:

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
###4.1 

Найдите, какая выручка у компании в ноябре.
Используйте list comprehensions.
###4.2 

Найдите выручку компании в зависимости от месяца.

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [2]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',\
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',\
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',\
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',\
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',\
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [3]:
summa = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [4]:
monthses = [d[5:-3] for d in date]
monthses

['09',
 '12',
 '09',
 '12',
 '10',
 '09',
 '12',
 '11',
 '12',
 '11',
 '10',
 '12',
 '11',
 '11',
 '09',
 '10',
 '12',
 '09',
 '12',
 '11',
 '11',
 '12',
 '12',
 '10',
 '10',
 '09',
 '11',
 '12',
 '10',
 '12']

Решение через цикл

In [5]:
summ = 0
new_list = []
for i in range(len(summa)):
  if monthses[i] == '11':
    summ+=summa[i]
new_list.append(summ)
print(new_list)

[25098]

Или

In [15]:
index_list = [i for i in range(len(monthses)) if (int(monthses[i]))==11]
index_list

[7, 9, 12, 13, 19, 20, 26]

In [18]:
new_list_summa=[summa[index_list[i]] for i in range(len(index_list))]
new_list_summa

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [21]:
sum(new_list_summa)

25098