<a href="https://colab.research.google.com/github/ie-katerinai/Python_Analitik/blob/main/Seminar_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задача 1

###1.1

 Соедините два словаря в один. dict1 = {'One': 1, 'Two': 2, 'Three': 3} dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [5]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

###1.2

Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь. Используйте аннотирование типов.

In [6]:
def dict_sum(d1: dict, d2: dict)->dict:
  d1.update(d2)
  return d1

In [7]:
dict_sum(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

##Задача 2

Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения.

keys = ['One', 'Two', 'Three'] values = [1, 2, 3]

Используйте аннотирование типов.

###2.1

Используя цикл for.

In [12]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

def dict_from_lists_1(keys: list, values: list) -> dict:
    dict_new = {}
    for i in range(len(keys)):
        dict_new.update({keys[i]: values[i]})
    return dict_new

In [14]:
dict_from_lists_1(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

###2.2

Используя dict comprehensions.

In [15]:
def dict_from_lists_2(keys: list, values: list) -> dict:   
  new_dict={keys[i]:values[i] for i in range(len(keys))}
  return new_dict

In [16]:
dict_from_lists_2(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

##Задача 3

Извлеките только два ключа name и age из представленного словаря.

client_dict = { "name":"John", "age":"25", "salary":5000, "city":"Moscow" }

In [22]:
client_dict = {'name':'John', 'age':'25', 'salary':5000, 'city':'Moscow'}
client_dict['name'],client_dict['age']

('John', '25')

### 3.1

Напишите функцию с циклом for. Функция на вход принимает:

исходный словарь;

ключи, которые нужно извлечь (аргумент по умолчанию);


На выходе словарь с нужными ключами. Используйте аннотирование типов.

In [31]:
def select_keys(dict1: dict, keys_list: list = ['name', 'age']) -> dict:
    dict_new = {}
    for i in range(len(keys_list)):
        dict_new.update({keys_list[i]: dict1[keys_list[i]]})
    return dict_new

In [32]:
select_keys(client_dict)

{'name': 'John', 'age': '25'}

###3.2

Используя dict comprehensions.

In [37]:
def select_keys_2(dict1: dict, keys_list: list = ['name', 'age']) -> dict:
  dict_new = {i:dict1[i] for i in keys_list}
  return dict_new

In [38]:
select_keys_2(client_dict)

{'name': 'John', 'age': '25'}

##Задача 4

###4.1

Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random.

Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые;

используйте list comprehensions;

In [39]:
import random

In [42]:
random.seed(10)
new_rando_list=[random.randint(0,100) for i in range(5)]
new_rando_list

[73, 4, 54, 61, 73]

###4.2

- генератор на вход принимает список с данными о клиенте (данные из пункта 4.1);
- внутри генератора реализуйте обход по списку с данными;


На каждой итерации генератор будет возвращать кортеж из двух элементов:

1. Данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и т.д.).

2. Целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации.

Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.

- используйте функцию time из модуля time для подсчета времени;
- чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2);

In [43]:
import time


def generator_1(input_list: list) -> tuple:
    prev_time = None
    for item in input_list:
        current_time = time.time()
        if prev_time:
            diff = current_time - prev_time
        else:
            diff = 0
        prev_time = time.time()
        yield (item, int(diff))

In [45]:
for i in generator_1(new_rando_list):
    print(i)
    time.sleep(2)

(73, 0)
(4, 2)
(54, 2)
(61, 2)
(73, 2)

##Задача 5

###5.1

Найдите картинку в интернете и прикрепите её в ячейку с текстом
5.2 Создайте следующую таблицу в ячейке с текстом

<img src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200" alt="drawing" width="200"/>

###5.2 

Создайте следующую таблицу в ячейке с текстом

<table>
  <tr>
    <td></td>
    <td>До события</td>
    <td>во время</td>
  </tr>
  <tr>
    <td>2к.т</td>
    <td>350</td>
    <td>700</td>
  </tr>
  <tr>
    <td>3к.т</td>
    <td>400</td>
    <td>800</td>
  </tr>
  <tr>
    <td>Итого за победу</td>
    <td>1000</td>
    <td>2000</td>
  </tr>
  </table>

##Задача 6

Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.

На вход поступают целочисленные значения в любом количестве.

На выходе словарь с ключами суммы трат и средней траты.

In [48]:
def func(*args:int)->int:
  return {sum(args):round(sum(args)/len(args))}

In [49]:
func(1, 2, 4, 6, 76)

{89: 18}